.popup {
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 25px;
  background-color: rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  z-index: 2;
}
