.popup__close {
  align-self: flex-start;
  position: absolute;
  width: 40px;
  top: -30px;
  right: -30px;
  object-fit: cover;
}

.popup__close:hover {
  opacity: 0.6;
  transition: opacity .5s ease-in-out;
}

@media (max-width: 425px) {
  .popup__close {
    width: 26px;
    top: -26px;
    right: -6px;
  }
}
