.popup__close {
  align-self: flex-start;
  position: absolute;
  width: 40px;
  height: 40px;
  top: -33px;
  right: -45px;
  object-fit: cover;
}

.popup__close:hover {
  opacity: 0.6;
  transition: opacity .5s ease-in-out;
}

@media (max-width: 425px) {
  .popup__close {
    width: 26px;
    height: 26px;
    right: 0;
  }
}
