.input-container__button {
  width: 358px;
  height: 50px;
  font-size: 18px;
  line-height: 22px;
  border: 0;
  margin: 0;
  padding: 14px auto 18px;
  cursor: pointer;
  transition: opacity .4s;
  color: #ffffff;
  background-color: #000000;
  font-family: inherit;
  border-radius: 2px;
  margin-top: 48px;
}

.input-container__button:hover {
  opacity: 0.8;
}

@media (max-width: 425px) {
  .input-container__button {
    max-width: 238px;
    margin-top: 45px;
    font-size: 14px;
    line-height: 17px;
  }
}
